*.swp

qwtb_doc/*.aux
qwtb_doc/*.bbl
qwtb_doc/*.bcf
qwtb_doc/*.blg
qwtb_doc/*.log
qwtb_doc/*.out
qwtb_doc/*.run.xml
qwtb_doc/*.toc

qwtb/alg_CCC/CCC/
qwtb/alg_CCC/tmp.res
qwtb/alg_CCC/tmp.txt

qwtb/qwtbvar_example_2_calculation_data/
qwtb/qwtbvar_example_1_calculation_data/
